**/.project
**/.pydevproject
**/.settings/
**/*.pyc
**/trained_data
**/bottleneck
**/imagenet
**/training_arch
**/test_images
/datas/inceptions/
/datas/cifar/
/datas/flowers/
/datas/flomen/
/datas/zebras/
/datas/gunbag/
/datas/transfer/
/datas/faces/
/datas/vgg/
/datas/tpe/
/datas/wlm/
/datas/fcn/test_data/results
/retrain_inception_logs